html {
	background-image: url("earth.jpg");
	font-family: 'Montserrat';
}
body {
    margin: 0;
}
h1{
    color: white;
    font-family: 'Montserrat';
    font-size: 270%;
    text-align: center;
    background-color: black;
    background-size: 50%;
    height: 7%;
    width: 100%;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.description {
	font-size: 24px;
	margin-right: 20px;
	padding-left: 49%;
}
.googleMap {
    vertical-align: bottom;
    float: right;
    width: 75%;
    height: 75%;
    position: absolute;
    display: block;
    z-index: initial;
    
}
.button{
	width: 100px;
    float: left;;
    margin-top: 18px;
    margin-left: 70px;
}
.second {
	display: block;
	max-width: 680px;
}
#info {
    padding-bottom: 525px;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 1%;
    display: block;
    clear: both;
    float: right;
    background-color: white;
    color: black;
    width: 15%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 25px;
}
img {
    height: 35px;
    margin-right: 35px;
}
